{% comment %}
Fill in the schedule for your incubator workshop below, based on the Data Carpentry Example.

The schedule would likely be different depending on the incubator curriculum.

Fill in specific times for each section, or use the below example for morning and afternoon sessions with breaks in between.

Make sure you keep the links to the pre- and post-workshop surveys!
{% endcomment %}

<div class="row">
  <div class="col-md-6">
    <h5>Day 1</h5>
    <table class="table table-striped">
      <tr><td>9:00-9:10</td><td>Arrival + Get to know each other</td></tr>
      <tr><td>9:10-9:45</td><td>Presentation by NB: 10X (and BD) Introduction + Q&A</td></tr>
      <tr><td>9:45-10:00</td><td><a href="https://bih-mdc-genomics-platform.github.io/2026-10-12-bioc-scrnaseq-workshop/#setup">Setup</a></td></tr>
      <tr><td>10:00-11:00</td><td><a href="https://carpentries-incubator.github.io/bioc-scrnaseq/intro-sce.html">1. Introduction to Bioconductor and the SingleCellExperiment class</a></td></tr>
      <tr><td>11:00-11:30</td><td>Break</td></tr>
      <tr><td>11:30-14:00</td><td><a href="https://carpentries-incubator.github.io/bioc-scrnaseq/eda_qc.html">2. Exploratory data analysis and quality control</a></td></tr>
    </table>
  </div>
  <div class="col-md-6">
    <h5>Day 2</h5>
    <table class="table table-striped">
      <tr><td>9:00-9:10</td><td>Arrival</td></tr>
      <tr><td>9:10-11:00</td><td><a href="https://carpentries-incubator.github.io/bioc-scrnaseq/cell_type_annotation.html">3. Cell type annotation</a></td></tr>
      <tr><td>11:00-11:30</td><td>Break</td></tr>
      <tr><td>11:30-13:15</td><td><a href="https://carpentries-incubator.github.io/bioc-scrnaseq/multi-sample.html">4. Multi-sample analysis</a> + <a href="https://carpentries-incubator.github.io/bioc-scrnaseq/large_data.html">5. Working with large data</a></td></tr>
      <tr><td>13:15-14:00</td><td>Presentation by CF: AI based solutions for scRNA + Q&A</td></tr>
    </table>
  </div>
</div>
