{% comment %}
Fill in the schedule for your incubator workshop below, based on the Data Carpentry Example.

The schedule would likely be different depending on the incubator curriculum.

Fill in specific times for each section, or use the below example for morning and afternoon sessions with breaks in between.

Make sure you keep the links to the pre- and post-workshop surveys!
{% endcomment %}

<div class="row">
  <div class="col-md-6">
    <h5>Day 1</h5>
    TBA
  </div>
  <div class="col-md-6">
    <h5>Day 2</h5>
    TBA
  </div>
</div>
