{% comment %}
Fill in the setup links for your incubator workshop below.
{% endcomment %}

{% if site.flavor == "r" %}
{% include install_instructions/r.html %}
{% elsif site.flavor == "python" %}
{% include install_instructions/python.html %}
{% elsif site.flavor == "FIXME" %}
{% include install_instructions/r.html %}
{% include install_instructions/python.html %}
{% else %}
{% include warning-flavor.html %}
{% endif %}

{% comment %}
Use flavors if you have configured a specific programming language for your Incubator workshop.
If you have not configured a flavor, the default setup instructions can be edited in the last section of this file.
{% endcomment %}
<div id="spreadsheets-setup">
  <h3>Installing Required Packages</h3>
{% if site.flavor == "r" %}
  <p>
    You may already install the required packages ahead of the workshop in order to save time. Should you have any issues with the installation, we can then assist you on the first day.
    <br>

    <div markdown="1">
    
      ```r
      x <- c(1, 2, 3, 4, 5)
      mean(x)
      ```

    </div>
    
  </p>
{% elsif site.flavor == "python" %}
  <p>
    The setup instructions for this Incubator Python workshop can be found at <a href="{{ site.incubator_lesson_site }}"> the workshop overview site</a>.
  </p>
{% else %}
  <p>
    The setup instructions for this Incubator workshop can be found at <a href="{{ site.incubator_lesson_site }}"> the curriculum site</a>.
  </p>
{% endif %}
</div>
