{% comment %}
Fill in the the lesson requirements for your Incubator workshop below, based on one of the examples below.
{% endcomment %}

<p id="who">
  The course is aimed at graduate students and other researchers.
  <br>
  <br>
  <strong>IMPORTANT:</strong>We assume that you already have prior experience working with R and RStudio. These requirements can be fulfilled by completing a Software Carpentry R workshop. The Charité Scientific Computing Team is hosting such a workshop on Sep 29-30 and Oct 6-7 2026 (<a href="https://scientificcomputingcharite.github.io/2026-09-29-charite/">Software Carpentry Workshop at the Charité</a>), which you can sign up for <a href="https://terminplaner6.dfn.de/de/b/e04cce091b65f7c2f3c3028e29ce68cf-1882970">here</a>.
  <br>
  <br>
  Should this prerequisite workshop reach capacity or you cannot attend it, we strongly encourage you to complete it (<a href="https://swcarpentry.github.io/r-novice-gapminder/">Software Carpentry R workshop</a>) by yourself before attending this one.
</p>


