{% comment %}
Fill in the the lesson requirements for your Incubator workshop below, based on one of the examples below.
{% endcomment %}

<p id="who">
  The course is aimed at graduate students and other researchers. It assumes you have prior experience working with R.
  These requirements can be fulfilled by completing a Software Carpentry R workshop, which will be hosted by the Charité Scientific Computing Team on Sep 29-30 and Oct 6-7 2026 (<a href="https://scientificcomputingcharite.github.io/2026-09-29-charite/">Software Carpentry Workshop at the Charité</a>). You can sign up here to the <a href="https://terminplaner6.dfn.de/de/b/e04cce091b65f7c2f3c3028e29ce68cf-1882970">Software Carpentry R workshop</a>.
  <br>
  <br>
  Should this prerequisite workshop reach capacity or you simply cannot attend it, we strongly encourage you to go through the <a href="https://swcarpentry.github.io/r-novice-gapminder/">Software Carpentry R workshop</a> by yourself before attending this one.
</p>


