{% comment %}
Fill in the the lesson requirements for your Incubator workshop below, based on one of the examples below.
{% endcomment %}

<p id="who">
  <strong>Who:</strong>
  The course is aimed at graduate students and other researchers.
  <br>
  <strong>
    You don't need to have any previous knowledge of the tools that will be presented at the workshop.
  </strong>
</p>

<p id="who">
  This lesson assumes you have prior experience working with R.
  These requirements can be fulfilled by completing the following <a href="https://swcarpentry.github.io/r-novice-gapminder/">Software Carpentry R workshop</a>, which will be hosted by the Charité Scientific Computing Team on September 29-30 and October 6-7 (<a href="https://scientificcomputingcharite.github.io/2026-09-29-charite/">Charité R Workshop webpage</a>).
  Should the Software Carpentry R workshop reach capacity or you simply cannot attend it, we strongly encourage you to go through the <a href="https://swcarpentry.github.io/r-novice-gapminder/">Software Carpentry R workshop</a> by yourself before attending this one.
</p>


